BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 300
PenaltyBreakComment: 300
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
